body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.85);
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px 0;
  border-radius: 5px;
  width: 400px;
  margin-top: 10px;
}

.count-display {
  font-family: monospace;
  font-size: 6rem;
  text-align: center;
  margin: 10px 0;
  padding: 0;
}

#count-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

#count-buttons button {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

#change-color-btn {
  font-size: 1rem;
  background: hsl(207, 90%, 50%);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#change-color-btn:hover {
  background: hsl(207, 90%, 40%);
}
#color-display {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 10px 0;
  padding: 0;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#color-display p {
  font-family: monospace;
  font-size: 2rem;
  color: white;
  background-color: hsla(0, 0%, 80%, 0.75);
  padding: 5px 15px;
  border-radius: 10px;
}
