body {
  background-color: hsl(0, 0%, 10%);
}

.todo-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 4rem;
  color: white;
}

button {
  font-size: 1.5rem;
  padding: 0;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn {
  background-color: hsl(122, 39%, 49%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.add-btn:hover {
  background-color: hsl(122, 39%, 39%);
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
}

ol {
  padding: 0;
}

li {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.task-completed {
  text-decoration: line-through;
  color: hsla(0, 0%, 50%, 0.5);
}
