body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.car-list-container {
  margin: 5px auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-list-container h1 {
  font-size: 4rem;
  margin: 20px 0;
}
.car-list-container h2 {
  font-size: 2rem;
  margin: 0;
}

.car-list-container input {
  width: 300px;
  padding: 10px;
  font-size: 1.5rem;
  margin: 5px 0;
}
.car-list-container input:first-of-type {
  margin-top: 0;
}
.car-list-container input:last-of-type {
  margin-bottom: 0;
}

.car-list-container input:focus {
  outline: none;
  border: 2px solid hsl(211, 100%, 50%);
}

.car-list-container ol li {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 40px;
  list-style: none;
  text-align: left;
}

.car-list-container ol li:hover {
  background-color: hsl(211, 100%, 90%);
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: hsl(211, 100%, 50%);
  color: white;
}

button:hover {
  background-color: hsl(211, 100%, 40%);
  cursor: pointer;
}

button:focus {
  outline: none;
  background-color: hsl(211, 100%, 40%);
}
